html {
  height: 100%;
  background: #0f0f0f;
  background-size: cover;
}

body {
  font-family: Arial, sans-serif;
  padding: 40px;
  color: ghostwhite;
}

table thead th {
  border-bottom: 0.5px solid #fff;
}

table th,
table td {
  text-align: left;
}
